@mixin flex($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

header {
    @include flex(space-between);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 40px;
    background: #fff;
    z-index: 10;
}

header .logo {
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #929292;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
        color: #000;
    }
    &.active{
        color: #000;
    }
}

header .icons {
    @include flex();
    gap: 10px;
}

header .icon {
    @include flex();
    width: 35px;
    height: 35px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
        background: #eee;
    }
    svg {
        width: 13px;
    }
    &.card svg {
        width: 25px;
    }
    div {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 7px;
        height: 7px;
        transform: scale(0);
        border-radius: 50%;
        background: red;
        transition: 0.2s ease;
    }
    div.active {
        transform: scale(1);
    }
}
